# Dart / Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
coverage/
report/
*.iml
*.lock

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# macOS
.DS_Store

# Android
android/.gradle/
local.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Web
web/.dart_tool/
